<h1 class="title">お気に入り一覧</h1>
<div>
  <% @favorites.each do |favorite| %>
  <ul>
    <li><%= image_tag favorite.post.user.icon.url if favorite.post.user.icon && favorite.post.user.icon.url %></li>
    <li><%= favorite.post.user.name %></li>
    <li><%= image_tag favorite.post.picture.url if favorite.post.picture && favorite.post.picture.url %></li>
    <li><%= favorite.post.content %></li>
  </ul>
  <% end %>
</div>
<div><%= link_to "ホームへ", posts_path %></div>
