<p id="notice"><%= notice %></p>

<h1>ホーム</h1>

<%= link_to '投稿する', new_post_path, class: "btn" %>

<div class="container-fluid">
  <ul class="row">
    <% @posts.each do |post| %>
      <li class="col-md-6 col-lg-4">
      <div class="chunk">
        <div class="user">
          <%= image_tag post.user.icon.url, class: "icon" if post.user.icon && post.user.icon.url %>
          <%= post.user.name %>
        </div>
        <div class="post">
          <%= image_tag post.picture.url, class: "picture" if post.picture && post.picture.url %>
          <p class="sentence"><%= post.content %></p>
        </div>
        <div class="option">
          <%= link_to '詳細', post, class: "option_btn" %>
          <% if post.user_id == current_user.id %>
            <%= link_to '編集', edit_post_path(post), data: { confirm: '本当に編集していいですか？' }, class: "option_btn" %>
            <%= link_to '削除', post, method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "option_btn" %>
          <% end %>
        </div>
      </div>
      </li>
    <% end %>
  </ul>
</div>
