<!DOCTYPE html>
<html>
  <head>
    <title>PhotoSharedApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <div class="status">ようこそ <%= current_user.name %> さん</div>
        <%= link_to "プロフィール", user_path(current_user.id), class:"link" %>
        <%= link_to "ログアウト", session_path(current_user.id), method: :delete, class:"link" %>
      <% else %>
        <div class="status">ログインしてください</div>
        <%= link_to "アカウント作成", new_user_path, class:"link" %>
        <%= link_to "ログイン", new_session_path, class:"link" %>
      <% end %>
    </header>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
